@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*Header css styles*/
.navigationbar {
    display: grid;
    grid-template-columns: 2fr;
}

header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;
    border-style: solid;
    border-width: 3px;
    border-color: #001100;
    border-top-left-radius: 12.5px;
    border-top-right-radius: 12.5px;
    border-bottom-right-radius: 12.5px;
    border-bottom-left-radius: 12.5px;
    background-color: #B88608;
}

#logolink {
    grid-column: 1 / span 1;
    width: 120%;
    height: 120%;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;
    margin-top: 30%;
    z-index: 0;
}

#logolink:hover {
    border-style: inset;
    border-style: outset;
    border-style: solid;
    border-width: 3px;
    border-color: #B88608;
}

header nav {
    height: 100%;
    grid-column: 1/ span 2;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    column-gap: 70px;
}

a { 
    color: #001100;
    text-decoration: none;
    font-family: Roboto;
    font-size: 1.2em;
    padding: 10px;
    text-align: center;
}

.headerlink a:hover {
    color: #FEFEFA;
    background-color: #2F4F4F;
    border-top-left-radius: 12.5px;
    border-top-right-radius: 12.5px;
    border-bottom-right-radius: 12.5px;
    border-bottom-left-radius: 12.5px;
    border-style: solid;
    border-width: 2px;
    border-color: #001100;
    
}



/*main body*/
#homepage {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
    margin-left: 10px;
    margin-right: 10px;
    background-color: #FAF0E6;
    border-top-right-radius: 60px;
}

#introduction {
    margin-bottom: -40px;
    grid-row: 1 / span 1;
}

#introduction p {
    width: 95%;
    margin-left: 10px;
    margin-right: 10px;
    padding: 15px;
}

#introduction img {
    float: right;
    height: 250px;
    width: 200px; /* Adjust based on your design */
    margin-left: 10px; /* Adds spacing between the image and text */
    margin-top: -110px;
    border-radius: 60%; /* Keeps the circular shape as seen in the rendered page */

}

#introduction h4 {
    clear:both;
    text-indent: 1em;
}

#block2 {
    grid-row: 2/ span 1;
    padding-top: 10px;
    padding-bottom: 10px;
}

#block3 {
    grid-row: 3/ span 1;
    padding-top: 10px;
    padding-bottom: 10px;
}

#block4 {
    grid-row: 4/ span 1;
    padding-top: 10px;
    padding-bottom: 10px;
}

#block5 {
    grid-row: 5/ span 1;
    padding-top: 10px;
    padding-bottom: 10px;
}

main p {
    border-top-left-radius: 12.5px;
    border-top-right-radius: 12.5px;
    border-bottom-right-radius: 12.5px;
    border-bottom-left-radius: 12.5px;
    padding: 15px;
    background-color: #2F4F4F;
    color: #FEFEFA;
    font-family: "Quantico", "Exo 2", "Roboto Mono";
    font-size: 17px;
    margin-left: 10px;
    margin-right: 10px;
    line-height: 1.4em;
    text-indent: 2em;
}

#homepage h3 {
    position: relative;
    color: #001100;
    font-family: Roboto;
    margin-left: 10px;
    text-indent: 1em;
}



/*footer css*/
footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-style: solid;
    border-width: 3px;
    border-color: #001100;
    border-top-left-radius: 12.5px;
    border-top-right-radius: 12.5px;
    border-bottom-right-radius: 12.5px;
    border-bottom-left-radius: 12.5px;
    background-color: #B88608;
}

#copyright {
    color: #001100;
    font-family: Roboto;
    font-size: 1.2em;
    text-align: center;
    padding-left: 20px;
}

#siteplanlink {
    color: #001100;
    font-family: Roboto;
    font-size: 1.2em;   
    text-align: center; 
}

.social {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

footer img {
    height: 90px;
    width: 90px;
    border-top-left-radius: 12.5px;
    border-top-right-radius: 12.5px;
    border-bottom-right-radius: 12.5px;
    border-bottom-left-radius: 12.5px;
}

.social:last-child {
    margin-right: 10px; 
}

#siteplanlink:hover {
    color: #FEFEFA;
    background-color: #2F4F4F;
    border-top-left-radius: 12.5px;
    border-top-right-radius: 12.5px;
    border-bottom-right-radius: 12.5px;
    border-bottom-left-radius: 12.5px;
    border-style: solid;
    border-width: 2px;
    border-color: #001100;
}

#linkedinicon:hover, #githubicon:hover, #handshakeicon:hover {
    border-style: inset;
    border-style: outset;
    box-shadow: 0 9px #AEAEAD;
    
}

#linkedinicon:active, #githubicon:active, #handshakeicon:active {
    box-shadow: 0 5px #AEAEAD;
    transform: translateY(4px);
}

.active {
    color: #FEFEFA;
    background-color: #2F4F4F;
    border-top-left-radius: 12.5px;
    border-top-right-radius: 12.5px;
    border-bottom-right-radius: 12.5px;
    border-bottom-left-radius: 12.5px;
    border-style: solid;
    border-width: 2px;
    border-color: #001100;
}

#myBtn {
    position: relative; /* Fixed/sticky position */
    float: right;
    bottom: 10px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #B88608; /* Set a background color */
    color: #001100; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 1.2em; /* Increase font size */
    padding: 20px;
    scroll-behavior: smooth;
  }
  
#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
    color: #FEFEFA;
    border-style: solid;
    border-color: #001100;
    scroll-behavior: smooth;
  }

.bottomtotop {
    margin-top: 20px;
    margin-bottom: 20px;
  }
/*End of homepage css styles*/




















/*Project page css styles*/
/*Project page header*/
  #projectbody {
    color: #FEFEFA;
  }

  .projectheader {
    text-align: center;
    margin-top: -40px;
    margin-bottom: 20px;
  }


h2 {
    display: inline-block;
    width: 250px;
    font-size: 1.7em;
    border-style: solid;
    border-width: 15px;
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 50%;
    border-color: #001100;
    font-family: Roboto;
    background-color: #AEAEAD;
    color:#001100;
    
}

/*python projects*/
#pythonprojects {
    height: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    border-radius: 12.5px;
    column-gap: 60px;
    row-gap: 40px;
    border-style: solid;
    background-color: #FAF0E6;
}

#pythonprojects h3{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    border-style: solid;
    border-width: 5px;
    transform: skew(-35deg);
    border-color: #001100;
    padding: 30px;
    border-color: #001100;
    font-family: Roboto;
    color: #fefefe;
    background-color: #2F4F4F;
    font-size: 1.5em;
}

#pythonprojects img{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    object-fit: contain;
    height: 125px;
    width: 125px;
}

#bmi{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    border-style: solid;
    border-width: 2px;
    border-color: #001100;
    border-radius: 5px;
    padding: 5px;
    font-family: "Quantico", "Exo 2", "Roboto Mono";
    font-size: 16px;
    color: #fefefe;
    background-color: #2F4F4F
}

#cansize{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    border-style: solid;
    border-width: 2px;
    border-color: #001100;
    border-radius: 5px;
    padding: 5px;
    font-family: "Quantico", "Exo 2", "Roboto Mono";
    font-size: 16px;
    color: #fefefe;
    background-color: #2F4F4F
}

#waterflow{
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    border-style: solid;
    border-width: 2px;
    border-color: #001100;
    border-radius: 5px;
    padding: 5px;
    font-family: "Quantico", "Exo 2", "Roboto Mono";
    font-size: 16px;
    color: #fefefe;
    background-color: #2F4F4F
}

#bmi a {
    text-decoration-line: underline;
    color: #fefefe;
    font-family: "Quantico", "Exo 2", "Roboto Mono";
}

#cansize a {
    text-decoration-line: underline;
    color: #fefefe;
    font-family: "Quantico", "Exo 2", "Roboto Mono";
}

#waterflow a {
    text-decoration-line: underline;
    color: #fefefe;
    font-family: "Quantico", "Exo 2", "Roboto Mono";
}

/*powershell projects*/
#powershellprojects {
    display: grid;
    height: 300px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    margin-top: 25px;
    margin-bottom: 30px;
    border-radius: 12.5px;
    column-gap: 60px;
    row-gap: 40px;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    border-style: solid;
    background-color: #FAF0E6;
}

#powershellprojects h3{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    border-style: solid;
    border-width: 5px;
    transform: skew(-35deg);
    border-color: #001100;
    padding: 40px;
    border-color: #001100;
    font-family: Roboto;
    color: #fefefe;
    background-color: #2F4F4F;
    font-size: 1.5em;

}

#powershellprojects img{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    object-fit: contain;
    height: 125px;
    width: 125px;
}

#powershell1{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    border-style: solid;
    border-width: 2px;
    border-color: #001100;
    border-radius: 5px;
    padding: 5px;
    font-family: "Quantico", "Exo 2", "Roboto Mono";
    font-size: 15px;
    color: #fefefe;
    background-color: #2F4F4F
}

#powershell2{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    border-style: solid;
    border-width: 2px;
    border-color: #001100;
    border-radius: 5px;
    padding: 5px;
    font-family: "Quantico", "Exo 2", "Roboto Mono";
    font-size: 15px;
    color: #fefefe;
    background-color: #2F4F4F
}

#powershell3{
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    border-style: solid;
    border-width: 2px;
    border-color: #001100;
    border-radius: 5px;
    padding: 5px;
    font-family: "Quantico", "Exo 2", "Roboto Mono";
    font-size: 15px;
    color: #fefefe;
    background-color: #2F4F4F
}

#powershell1 a {
    text-decoration-line: underline;
    color: #fefefe;
    font-family: "Quantico", "Exo 2", "Roboto Mono";
}

#powershell2 a {
    text-decoration-line: underline;
    color: #fefefe;
    font-family: "Quantico", "Exo 2", "Roboto Mono";
}

#powershell3 a {
    text-decoration-line: underline;
    color: #fefefe;
    font-family: "Quantico", "Exo 2", "Roboto Mono";
}
/*End of project page css styles*/




















/*contactme portfolio child page*/
/*contact header*/
#contactmain {
    background-color: #FEFEFA;
}

#contactmeheader {
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    margin-top: -20px;
    background-color: #FAF0E6;
}

#contactmeheader span {
    border-style: solid;
    border-color:#001100;
    border-width: 3px;
    height: 80px;
    line-height: 80px;
    width: 300px;
    text-align: center;
    margin-right: 2px;
    font-family: "Roboto";
    border-right-style: none;
    background-color: #2F4F4F;
    color: #FEFEFA;
}

#contactmeheader img {
    height: 220px;
    width: 220px;
    border-radius: 50%;
    margin-left: -10px;
}

/*contact body - name, email, email icon*/
#contactinfocontainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 1fr 1fr;
    margin-top: 10px;
    margin-bottom: 40px;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    background-color: #FAF0E6;  
}

#myname {
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
    font-family: "Quantico", "Exo 2", "Roboto mono";
}

#emailicon {
    width: 80px;
    height: 80px;
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    transform: translateX(130px);
}

#email {
    grid-column: 3 / span 2;
    grid-row: 2 / span 1;
    transform: translateX(-120px);
    font-family: "Quantico", "Exo 2", "Roboto mono";
}

/*contact form*/
#contactbodycontainer{
    text-align: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 20px;
}

#contactbodycontainer span {
    border-style: solid;
    border-width: 3px;
    border-color:#001100;
    Height: 50px;
    line-height: 50px;
    padding: 20px;
    border-radius: 12.5px;
    font-family: "Roboto";
    background-color: #2F4F4F;
    color: #FEFEFA;
}

#contactbodycontainer form {
    width: 100%;
    margin-top: 30px;
    padding-bottom: 20px;
    padding-top: 40px;
    border-style: solid;
    border-color: #001100;
    border-width: 4px;
    font-family: "Quantico", "Exo 2", "Roboto mono";
    background-color: #FAF0E6; 
}

#contactbodycontainer div {
    margin-bottom: 15px;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
}

input {
    width: 50%;
}

label {
    margin-bottom: 15px;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
}

textarea {
    width: 50%;
    height: 50%;
}      